<h1>Willkommen</h1>
<div class="jumbotron">
    <p>Hallo, hier auf meiner persönlichen Website kannst Du einiges über mich erfahren.</p>
    <p>Es gibt drei Hauptkategorien:</p>
    <ul>
        <li><span class="badge homeSite">Home</span> bietet dir einige persönliche Infos</li>
        <li><span class="badge devSite">Entwicklung</span> richtet sich an meine beruflich und private Leidenschaft zum programmieren</li>
        <li><span class="badge photoSite">Fotografie</span> zeigt ein grosses Hobby von mir</li>
    </ul>
</div>
<hr />
<div class="page-header">
    <h3>Dominik Heeb</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-2 col-md-2">
            <img src="http://placehold.it/400x480" class="img-thumbnail img-responsive">
        </div>
        <div class="col-xs-10 col-md-10">
            <dl class="dl-horizontal">
                <dt>Geboren</dt>
                <dd>12.06.1992</dd>
                <dt>Hobby</dt>
                <dd>Fotografie, Feuerwehr, Theatertechnik</dd>
            </dl>
        </div>
    </div>
</div>
@Styles.Render("~/Content/lessHomePage")