/*@photoColor: #1B9823;
@devColor: #4E2676;
@brand-height : 20px;
@homeColor: #14284D;*/
/*@reserve-color:d8015d;
@photoColor: #fbc900;
@devColor: #7fbe33;
@brand-height : 20px;
@homeColor: #01c5d8;*/

@photoColor:#add47c;
@devColor: #3497da;
@brand-height : 20px;
@homeColor: #9a59b5;